[listsnew]
==
<div class="title-group-new">
    <a href="#">SỰ KIỆN SẮP DIỄN RA</a>
</div>
<div class="has-gradient-group">
    <!--<div class="gradient-bot"></div>-->
    <ul class="list-even-future clear">
        {% for event in events %}
        <li>
            {% if (event.link_event != '')%}
                <a class="haslink" target="_blank" href="{{ event.link_event}}">
                
            {% elseif (event.link_event == '') %}
                <a class="haslink" target="_blank" href="#">
            {% endif %}
            {{event.introductory}}
                <span class="date-time">{{ event.published_at|date('d-m-Y') }}</span>
                <span class="title">{{ event.title }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
