<!-- <form data-request="info::onSend" name="send-mail" id="send-mail"> -->
    <div class="col-md-3" id="contact_div">
        <div class="form-contact-ft">
            <div class="title-child-ft">
                <h3>
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    LIÊN HỆ
                </h3>
                <div class="form" >
                    <input class="f-control" type="text" id="contact_name" name="name" placeholder="Họ tên">
                    <span class="err_contact_name" style="font-size: 12px;color : red"></span>
                    <input class="f-control" type="text" id="contact_phone" name="phone" placeholder="Số điện thoại">
                    <span class="err_contact_phone" style="font-size: 12px;color : red"></span>
                    <input class="f-control" type="text" id="contact_email" name="email" placeholder="Email">
                    <span class="err_contact_email" style="font-size: 12px;color : red"></span>
                    <textarea class="f-control big" type="text" id="contact_text" name="content"
                    placeholder="Nội dung yêu cầu"></textarea>
                    <div class="btn-submit-ft">
                        <a class="btn-a send_mail" href="javascript:$('form').submit()" >
                            Gửi 
                            <span class="icon">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </form> -->
<span id="success_send_mail" class="text-danger"></span>