<div class="menu-group-bg2"></div>
<div class="menu-group-bg1"></div>
<div class="container">
    <div class="row">
        <div class="menu-header">
            <div class="col-md-5">
                <div class="col-md-4">
                    <h3 class="title">TIN TỨC</h3>
                    <div class="group-menu-chil">
                        <ul class="list-menu-chil">
                            <li><a href="{{ 'tin-tuc' | page({cat_id : 1}) }}">Tin HOCMAI</a></li>
                            <li><a href="{{ 'tin-tuc' | page({cat_id : 2}) }}">Tin báo chí</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <h3 class="title">
                        CHƯƠNG TRÌNH GIÁO DỤC
                    </h3>
                    <div class="group-child">
                        <ul class="list-menu-chil">
                            <li><a href="">Giáo dục trực tuyến</a></li>
                            <li><a href="">Hệ thống trung tâm học tập</a></li>
                            <li><a href="">Trường liên cấp</a></li>
                            <li><a href="">Đào tạo kỹ năng và hoạt động trải nghiệm</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="col-md-6">
                    <div class="panel-head"><span>HOCMAI</span></div>
                    <ul class="list-menu-chil">
                        <li><a href="{{'cau-chuyen-thuong-hieu' | page}}">Câu chuyện thương hiệu</a>
                        </li>
                        <li><a href="{{'tam-nhin-su-menh' | page}}">Tầm nhìn - Sứ mệnh - Giá trị cốt lõi</a>
                        </li>
                        <li><a href="{{'hanh-trinh-12-nam' | page}}">Lịch sử hình thành</a>
                        </li>
                        <li><a href="{{'don-vi-thanh-vien' | page}}">Đơn vị thành viên</a>
                        </li>
                        <li><a href="{{'don-vi-lien-ket' | page}}">Đơn vị liên kết</a>
                        </li>
                        <li><a href="{{'thanh-tuu-dat-duoc' | page}}">Thành tựu đạt được</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="title">
                        <a href="{{ 'tuyen-dung' | page }}">TUYỂN DỤNG</a>

                    </h3>
                    <div class="group-child">
                        <ul class="list-menu-chil">

                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3 class="title">LIÊN HỆ</h3>
                </div>
            </div>
        </div>
    </div>
</div>