 <div class="container" id="open_detail_job">
            <div class="info-top">
                <div class="row">
                    <div class="col-md-4">
                        <div class="item-info-top notpad">
                            <div class="name">
                                <p>PHÒNG BAN</p>
                            </div>
                        </div>
                        <div class="value hot label-select new">
                            <p><span class="cebu-before"></span>
                            	<span id="room_name"></span>
                            	<span class="label-status label-hot hot-label">HOT</span>
                                <span class="label-status label-new new-label">NEW</span>
                            </p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="item-info-top notpad">
                            <div class="name">
                                <p>VỊ TRÍ</p>
                            </div>
                        </div>
                        <div class="value">
                            <p >
                            	<span class="cebu-before"></span>
                            	<span id="job_name"></span>
                            </p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="right-info-top">
                            <div class="item-info-top right">
                                <div class="name">
                                    <p>HẠN NỘP HỒ SƠ</p>
                                </div>
                            </div>
                            <div class="value">
                                <p>
                                	<span class="cebu-before"></span >
                                	<span  class="deadline"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-detail-job">
                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                        <div class="table-job">
                            <table>
                                <tr>
                                    <td class="name strong" >Vị trí
                                    </td>
                                    <td class="strong" id="job_position">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Mô tả công việc
                                    </td>
                                    <td id="job_desc">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Yêu cầu công việc
                                    </td>
                                    <td id="job_requirements">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Quyền lợi được hưởng
                                    </td>
                                    <td id="entitlements">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Cấp bậc
                                    </td>
                                    <td id="rank_name">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Toàn thời gian cố định
                                    </td>
                                    <td id="working_time">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Kinh nghiệm làm việc</td>
                                    <td id="work_experience"> </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Số lượng
                                    </td>
                                    <td id="slots">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Địa điểm làm việc
                                    </td>
                                    <td id="work_address">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Mức lương
                                    </td>
                                    <td id="wage">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Hạn nộp hồ sơ
                                    </td>
                                    <td class="deadline">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Hình thức nộp hồ sơ
                                    </td>
                                    <td id="deadline_type">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Người liên hệ
                                    </td>
                                    <td id="contact">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Email
                                    </td>
                                    <td id="email">
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name strong">Điện thoại
                                    </td>
                                    <td id="phone">
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="btn-close change">
                            <a href="#" id="close_detail_job">ĐÓNG LẠI</a></div>
                    </div>
                </div>
            </div>
        </div>