<div class="info-top">
    <div class="row">
        <div class="col-md-4">
            <div class="item-info-top notpad">
                <div class="name">
                    <p>PHÒNG BAN</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="item-info-top two notpad">
                <div class="name">
                    <p>VỊ TRÍ</p>
                </div>
            </div>

        </div>
        <div class="col-md-4">
            <div class="right-info-top">
                <div class="item-info-top right">
                    <div class="name">
                        <p>HẠN NỘP HỒ SƠ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
