==
<footer id="footer">
    <div class="background-left1"></div>
    <div class="background-left2"></div>
    <div class="container">
        <div class="logo ft-child">
            <a href="#">
                <img src="{{'assets/images/logo-fter.png'|theme}}">
            </a>
        </div>
        <div class="group-contact-child">
            <div class="item-contact-ft address">
                <div class="img"><img src="{{'assets/images/icon-location.png'|theme}}"></div>
                <div class="content">
                    <p>Tầng 4, Tòa nhà 25T2, Đường Nguyễn Thị Thập, Phường Trung Hoà, Quận Cầu Giấy, Hà Nội.</p>
                </div>
            </div>
            <div class="group-ft-right-child clear">
                <div class="item-contact-ft">
                    <div class="img"><img src="{{'assets/images/icon-call.png'|theme}}"></div>
                    <div class="content">
                        <a href="#">(024) 3519-0591</a>
                    </div>
                </div>
                <div class="item-contact-ft">
                    <div class="img"><img src="{{'assets/images/icon-mail.png'|theme}}"></div>
                    <div class="content">
                        <a href="#">info@hocmai.edu.vn</a>
                    </div>
                </div>
                <div class="item-contact-ft">
                    <div class="img"><img src="{{'assets/images/icon-fax.png'|theme}}"></div>
                    <div class="content">
                        <a href="#">+84 (24) 3519-0587</a>
                    </div>
                </div>
                <div class="follow-ft clear">
                    <h3 class="title">Kết nối với chúng tôi</h3>
                    <div class="group-follow">
                        <ul class="list-follow">
                            <li><a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href=""><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>