==
<div class="menu-group">
    <div class="menu-group-bg2"></div>
    <div class="menu-group-bg1"></div>
    <div class="container">
        <div class="row">
            <div class="menu-header">
                <div class="col-md-5">
                    <div class="col-md-4">
                        <h3 class="title">TIN TỨC</h3>
                        <div class="group-menu-chil">
                            <ul class="list-menu-chil">
                                <li><a href="/tin-hoc-mai">Tin HOCMAI</a></li>
                                <li><a href="/tin-bao-chi">Tin báo chí</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 class="title">
                            CHƯƠNG TRÌNH GIÁO DỤC
                        </h3>
                        <div class="group-child">
                            <ul class="list-menu-chil">
                                <li><a href="">Giáo dục trực tuyến</a></li>
                                <li><a href="">Hệ thống trung tâm học tập</a></li>
                                <li><a href="">Trường liên cấp</a></li>
                                <li><a href="">Đào tạo kỹ năng và hoạt động trải nghiệm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="col-md-6">
                        <img class="title" src="{{ 'assets/images/logo-menu.png'|theme}}">
                        <ul class="list-menu-chil">
                            <li><a href="">Câu chuyện thương hiệu</a>
                            </li>
                            <li><a href="">Tầm nhìn - Sứ mệnh - Giá trị cốt lõi</a>
                            </li>
                            <li><a href="">Lịch sử hình thành</a>
                            </li>
                            <li><a href="">Đơn vị thành viên</a>
                            </li>
                            <li><a href="">Thành tựu đạt được</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3">
                        <h3 class="title">
                            TUYỂN DỤNG
                        </h3>
                        <div class="group-child">
                            <ul class="list-menu-chil">

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h3 class="title">LIÊN HỆ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>