==
<div class="group-job sec-container">
        <div class="container">
            <ul class="list-job">
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Nhân viên</span>
                                        KẾ TOÁN
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job2.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Nhân viên</span>
                                        MARKETING
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job3.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Trưởng phòng</span>
                                        THIẾT KẾ
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job4.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span></span>
                                        GIÁO VIÊN
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Nhân viên</span>
                                        KẾ TOÁN
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job2.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Nhân viên</span>
                                        MARKETING
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job3.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span>Trưởng phòng</span>
                                        THIẾT KẾ
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slider-job">
                        <div class="item-job-slider" style="background-image: url({{'assets/images/item_job4.jpg'|theme}});">
                            <div class="content">
                                <a href="#"></a>
                                <div class="desc">
                                    <p>
                                        <span></span>
                                        GIÁO VIÊN
                                    </p>
                                </div>
                            </div>
                            <div class="gradient-item-job"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>